function Game.play 4
push constant 20
pop local 0
push constant 1
pop local 1
push constant 1
neg
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
call Value.getGpa 0
push constant 0
gt
not
if-goto WHILE_END0
push constant 0
call Value.setObj 1
pop temp 0
push local 3
call Value.setState 1
pop temp 0
call GameScreen.showClouds 0
pop temp 0
label WHILE_EXP1
call Value.getState 0
push local 3
eq
not
if-goto WHILE_END1
call KBToMove.kbMove 0
pop temp 0
goto WHILE_EXP1
label WHILE_END1
call Value.getState 0
push local 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Value.setX 1
pop temp 0
push constant 255
push local 0
sub
call Value.setY 1
pop temp 0
call GameScreen.die 0
pop temp 0
call GameScreen.start 0
pop temp 0
call Player.show 0
pop temp 0
call Value.getGpa 0
push constant 1
sub
call Value.setGpa 1
pop temp 0
call GPA.showGPA 0
pop temp 0
push local 3
call Value.setState 1
pop temp 0
label IF_FALSE0
call Value.getState 0
push local 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call GameScreen.win 0
pop temp 0
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
call GameScreen.lose 0
pop temp 0
push constant 0
return
